<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mytest">
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- camera, gallery -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".layouts.PeopleActivity"></activity>
        <activity android:name=".layouts.FrendsActivity" />
        <activity android:name=".newFrends" />
        <activity android:name=".new_groupstudy" />
        <activity android:name=".layouts.talking" />
        <activity android:name=".layouts.studynewText" />
        <activity android:name=".layouts.studynewTitle" />
        <activity android:name=".layouts.loading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".timerservice"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".new_mystudy" />
        <activity android:name=".layouts.timer" />
        <activity android:name=".layouts.timer3" />
        <activity android:name=".layouts.timer4" />
        <activity
            android:name=".layouts.newuser"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".layouts.idpw"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".newstudynow" />
        <activity android:name=".layouts.studynow" />
        <activity android:name=".mystudy" />
        <activity android:name=".layouts.groupstudy" />
        <activity android:name=".layouts.MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".layouts.login" /> <!-- <receiver android:name=".Fragment_my"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.dwfox.myapplication.SEND_BROAD_CAST"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- 사진 촬영을 위한 provide -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="{package name}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>